body {
    background-color: rgb(210, 218, 226);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: gray;
}

header img {
    margin-right: 20px;
    height: 70px;
    width: auto;
    border-radius: 50%;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 30px;
    flex-grow: 1;
}

h2 {
    margin-left: 30px;
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #444;
}

.lista,
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container {
    font-family: sans-serif;
    background-color: white;
    width: 700px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    align-self: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.container h3 {
    margin-bottom: 25px;
    color: #333;
    text-align: center;
}

.campos-formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.campos-formulario label {
    display: flex;
    flex-direction: column;
    color: #444;
    font-weight: bold;
    gap: 8px;
}

.campos-formulario input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

.campos-formulario input:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.4);
}

#salvar {
    width: 100%;
    margin-top: 25px;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background-color: #3b82f6;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

#salvar:hover {
    background-color: #2563eb;
}

#salvar:active {
  transform: scale(0.95);
}


hr {
    margin-bottom: 50px;
    border: none;
    height: 2px;
    background-color: #ffffff;
}

#cards {
    width: 100%;
    gap: 30px;
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dados {
    display: flex;
    flex-direction: column;

}

.card {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 300px;
    max-width: 400px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.botoes {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    align-self: center;
}

.foto {
    border-radius: 15px;
    margin-bottom: 10px;
    height: auto;
    width: 100px;
}

.button-atualizar,
.button-deletar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 40px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 10px;
}

.button-atualizar {
    background-color: #3b82f6;
}

.button-deletar {
    background-color: rgb(164, 0, 0);
}

.button-atualizar:hover {
    transition: 0.3s;
    background-color: #2061ca;
}

.button-deletar:hover {
    transition: 0.3s;
    background-color: rgb(116, 1, 1);
}

footer {
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer span {
    font-size: 15px;
    font-family: sans-serif;
    color: rgb(83, 83, 83);
    padding: 30px;
    font-weight: 600;
}